<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodoList</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
{{/*breakpointは"is-fluid"*/}}
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container is-fluid">
            <h1 class="title">
                TodoList App
            </h1>
            <h2 class="subtitle">
                Sample App ..
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-fluid">
        <div class="wrap">
            <form action="/new" method="post">
                <div style="width: auto; margin: auto">
                    <field>
                        <label class="label">Title</label>
                        <input class="input" type="text" name="title" size="10" placeholder="タスク名">
                    </field>
                    <field>
                        <label class="label">Detail</label>
                        <textarea class="textarea" placeholder="詳細"></textarea>
                    </field>
                    <field>
                        <label class="label">Name</label>
                        <input class="input" type="text" name="name" size="10" placeholder="発行者名"/>
                    </field>
                    <div class="field">
                        <label class="label">Volume</label>
                        <div class="control">
                            <input class="input" type="text" name="day" size="10" placeholder="予定日数"/>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <section class="section">
            <div class="indexGet is-fluid" style="width: auto; margin: auto">
                <ul>
                    {{range.tasks}}
                        <li>
                            <h3 class="label">
                                Title:{{.Title}}
                            </h3>
                            <p>Detail:{{.Detail}}</p>
                            <p>Name:{{.Name}}</p>
                            <p>Volume:{{.Day}}</p>
                            <br>
                        </li>
                    {{end}}
                </ul>
            </div>
            </section>
        </div>
    </div>
</section>
</body>
</html>